@import '../../../../scssMixinsAndVariables/variables.scss';
@import '../../../../scssMixinsAndVariables/mixins.scss';

.mainNavAndSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navContainer {
  @include blockSettings(flex, row, flex-start);

  gap: 0.2rem;

  p {
    font-size: 12px;
  }
}

.homeBtn {
  color: red;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.sectionsContainer {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.section {
  position: relative;
  @include blockSettings3(flex, column, center);

  background: #c3c3c3;
  padding: 7px 7px 7px 7px;
  cursor: pointer;

  p {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: $gothicFont;
    color: black;
  }

  &::before {
    content: url(../../../../pictures/shadowForSectionLeft.png);
    position: absolute;
    left: 0;
    bottom: -16px;
    cursor: default;
  }

  &::after {
    content: url(../../../../pictures/shadowForSectionRight.png);
    position: absolute;
    right: 0;
    bottom: -16px;
    cursor: default;
  }
}

.containerOfAllCars {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 10px), 1fr));
  grid-gap: 10px;
}

.filterBtn {
  margin-top: 30px;
  background: #c3c3c3;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-family: $gothicFont;
  color: black;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: 5px 5px 5px black;
  }
}

@media (max-width: 395px) {
  .section {
    width: 90%;

    img {
      object-fit: cover;
      width: 100px;
      height: 100%;
    }
  }
}

@media (max-width: 550px) {
  .containerOfAllCars {
    grid-template-columns: repeat(auto-fill, minmax(calc(44.44% - 10px), 1fr));
  }
}

@media (max-width: 390px) {
  .containerOfAllCars {
    grid-template-columns: repeat(auto-fill, minmax(calc(55.55% - 10px), 1fr));
  }
  .navContainer {
    flex-direction: column;
  }
}
