@import '../../../scssMixinsAndVariables/mixins.scss';
@import '../../../scssMixinsAndVariables/variables.scss';

.mainNavAndSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navContainer {
  @include blockSettings(flex, row, flex-start);
  gap: 0.2rem;

  p {
    font-size: 12px;
  }
}

.homeBtn {
  color: #b90000;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.sectionsContainer {
  @include blockSettings(flex, row, center);
  width: 100%;
  gap: 1rem;
}

.section {
  @include blockSettings3(flex, column, center);
  position: relative;
  background: #c3c3c3;
  padding: 7px 7px 7px 7px;
  cursor: pointer;

  p {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: $gothicFont;
    color: #000;
  }

  &::before {
    content: url(../../../pictures/shadowForSectionLeft.png);
    position: absolute;
    left: 0;
    bottom: -16px;
    cursor: default;
  }

  &::after {
    content: url(../../../pictures/shadowForSectionRight.png);
    position: absolute;
    right: 0;
    bottom: -16px;
    cursor: default;
  }
}

.containerOfAllCars {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 10px), 1fr));
  grid-gap: 10px;
}

@media (max-width: 920px) {
  .section {
    width: 200px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

@media (max-width: 640px) {
  .section {
    width: 150px;
  }
}
@media (max-width: 500px) {
  .sectionsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section {
    width: 70%;
  }
}

@media (max-width: 550px) {
  .containerOfAllCars {
    grid-template-columns: repeat(auto-fill, minmax(calc(44.44% - 10px), 1fr));
  }
}

@media (max-width: 390px) {
  .containerOfAllCars {
    grid-template-columns: repeat(auto-fill, minmax(calc(55.55% - 10px), 1fr));
  }
  .navContainer {
    flex-direction: column;
  }
}
