@import '../../scssMixinsAndVariables/mixins.scss';
@import '../../scssMixinsAndVariables/variables.scss';

//NavigationMenu
.mainNavContainer {
  display: flex;
  flex-direction: column;
}

.navContainer {
  @include blockSettings(flex, row, flex-start);

  gap: 0.2rem;
  p {
    font-size: 12px;
  }
}

.linkNav {
  color: #b90000;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.headerOfPage {
  margin-top: 20px;
  font-size: 22px;
  font-family: $gothicFont;
}

//CreateAccountAndRegisteredAccount

.createAndRegisteredContainer {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-top: 20px;
  background: #fff;
  height: 100%;

  h4 {
    color: #555454;
    font-size: 18px;
  }
  p {
    font-size: 12px;
  }
  label {
    font-size: 12px;
  }

  input {
    width: 200px;
    border: 1px solid #a3a3a3;
    height: 28px;
    outline: none;
    padding: 5px;
  }

  button {
    width: 120px;
    height: 28px;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font: bold 12px/21px Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #d80505 0%, #a10202 100%);
    font-family: $gothicFont;
    font-size: 16px;
    font-weight: normal;
    &:hover {
      background: linear-gradient(to bottom, #a10202 0%, #d80505 100%);
    }
  }
}

.createAccountContainer {
  width: 50%;
  display: flex;
  flex-direction: column;

  .formContainerCreateAnAccount {
    margin-top: 30px;
    @include blockSettings(flex, column, flex-start);
    gap: 1rem;
  }
}

.registeredContainer {
  width: 50%;
  display: flex;
  flex-direction: column;

  .formRegistered {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
      width: 60px;
    }
  }
}

.forgotPassword {
  font-size: 12px;
  text-decoration: underline;
  color: #b90000;
  width: 130px;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}
//RegistrationForm

.registrationFormContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.forRadioAndCheckboxContainer {
  @include blockSettings2(flex, flex-start, center);
  flex-direction: row;
  gap: 0.2rem;
  label {
    padding-right: 7px;
  }
}

.formRegistrationContent {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 790px) {
  .createAndRegisteredContainer {
    flex-direction: column;
  }

  .createAccountContainer {
    width: 100%;
    margin-bottom: 50px;
  }

  .registeredContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 280px) {
  .navContainer {
    flex-direction: column;
  }

  .createAndRegisteredContainer {
    input {
      width: 100%;
    }

    .forgotPassword {
      font-size: 10px;
      width: 100%;
    }
  }
}
