.mainNavContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.2rem;
}
.navContainer p {
  font-size: 12px;
}

.linkNav {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}
.linkNav:hover {
  text-decoration: none;
}

.headerOfPage {
  margin-top: 20px;
  font-size: 22px;
  font-family: Pathway Gothic One, Arial, Helvetica, sans-serif;
}

.createAndRegisteredContainer {
  padding: 20px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #fff;
  height: 100%;
}
.createAndRegisteredContainer h4 {
  color: #555454;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.createAndRegisteredContainer p {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
.createAndRegisteredContainer label {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}
.createAndRegisteredContainer input {
  width: 200px;
  border: 1px solid #a3a3a3;
  height: 28px;
  outline: none;
  padding: 5px;
}
.createAndRegisteredContainer button {
  width: 120px;
  height: 28px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font: bold 12px/21px Arial, Helvetica, sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#d80505), to(#a10202));
  background: linear-gradient(to bottom, #d80505 0%, #a10202 100%);
  font-family: Pathway Gothic One, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.createAndRegisteredContainer button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#a10202), to(#d80505));
  background: linear-gradient(to bottom, #a10202 0%, #d80505 100%);
}

.createAccountContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.createAccountContainer .formContainerCreateAnAccount {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
}

.registeredContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.registeredContainer .formRegistered {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.registeredContainer .formRegistered button {
  width: 60px;
}

.forgotPassword {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-decoration: underline;
  color: red;
  width: 130px;
  cursor: pointer;
}
.forgotPassword:hover {
  text-decoration: none;
}

.registrationFormContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.forRadioAndCheckboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.2rem;
}
.forRadioAndCheckboxContainer label {
  padding-right: 7px;
}

.formRegistrationContent {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

@media (max-width: 790px) {
  .createAndRegisteredContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .createAccountContainer {
    width: 100%;
    margin-bottom: 50px;
  }
  .registeredContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 280px) {
  .navContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .createAndRegisteredContainer input {
    width: 100%;
  }
  .createAndRegisteredContainer .forgotPassword {
    font-size: 10px;
    width: 100%;
  }
}