.header {
  color: white;
  font-size: 25px;
}

.containerInfo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 110px;
  margin-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}
.containerInfo p {
  font-size: 18px;
  font-family: Pathway Gothic One, PathwayGothicOneRegular, Arial, Helvetica, sans-serif;
  color: white;
}
.containerInfo::before {
  content: "";
  z-index: -50;
  position: absolute;
  top: 0;
  width: 55%;
  left: -40px;
  bottom: 0;
  height: 100%;
  background: #a1a1a1;
  transform: skew(-35.5deg);
  -webkit-transform: skew(-35.5deg);
}
.containerInfo::after {
  content: "";
  z-index: -50;
  position: absolute;
  top: 0;
  width: 55%;
  right: -40px;
  bottom: 0;
  height: 100%;
  background: #a1a1a1;
  transform: skew(-35.5deg);
  -webkit-transform: skew(-35.5deg);
}

.contentTextInfo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.containerText {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.containerText:hover .oclock {
  color: #2f2f2f;
}
.containerText:hover .mail {
  color: #2f2f2f;
}
.containerText:hover .skype {
  color: #2f2f2f;
}

.containerTextModal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 10;
}
.containerTextModal:hover .phone {
  color: #2f2f2f;
}

.phone {
  font-size: 2.5rem;
  color: #5a5a5a;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.oclock {
  font-size: 2.5rem;
  color: #5a5a5a;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.mail {
  font-size: 2.5rem;
  color: #5a5a5a;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.skype {
  font-size: 2.5rem;
  color: #5a5a5a;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.modalContent {
  position: absolute;
  top: -26px;
  left: 280px;
  width: 160px;
  height: 60px;
  background: #303030;
  z-index: 0;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modalContent .shyText {
  font-size: 20px;
  color: red;
  font-family: Pathway Gothic One, PathwayGothicOneRegular, Arial, Helvetica, sans-serif;
  font-weight: 100;
}
.modalContent p {
  font-size: 15px;
}
.modalContent::before {
  content: "";
  z-index: -50;
  position: absolute;
  top: 0;
  width: 38%;
  left: -50px;
  bottom: 0;
  height: 100%;
  background: #303030;
  transform: skew(-25.5deg);
  -webkit-transform: skew(-25.5deg);
}
.modalContent::after {
  content: "";
  z-index: -50;
  position: absolute;
  top: 0;
  width: 50%;
  right: -40px;
  bottom: 0;
  height: 100%;
  background: #303030;
  transform: skew(-25.5deg);
  -webkit-transform: skew(-25.5deg);
}

.helpContent {
  position: absolute;
  top: -166px;
  right: 100px;
  width: 300px;
  height: 200px;
  background: #303030;
  z-index: 0;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.helpContent .shyText {
  font-size: 20px;
  color: red;
  font-family: Pathway Gothic One, PathwayGothicOneRegular, Arial, Helvetica, sans-serif;
  font-weight: 100;
}
.helpContent p {
  font-size: 15px;
}
.helpContent::before {
  content: "";
  z-index: -50;
  position: absolute;
  top: 0;
  width: 38%;
  left: -72px;
  bottom: 0;
  height: 100%;
  background: #303030;
  transform: skew(-25.5deg);
  -webkit-transform: skew(-25.5deg);
}
.helpContent::after {
  content: "";
  z-index: -50;
  position: absolute;
  top: 0;
  width: 50%;
  right: -60px;
  bottom: 0;
  height: 100%;
  background: #303030;
  transform: skew(-25.5deg);
  -webkit-transform: skew(-25.5deg);
}

.formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.formContainer textarea {
  width: 240px;
  height: 100px;
  padding: 5px 5px 5px 5px;
  outline: none;
}

.inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 0.2rem;
}
.inputContainer input {
  width: 120px;
  height: 24px;
  padding: 5px 5px 5px 5px;
  outline: none;
}

.btnContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 25px 0px 20px;
}
.btnContainer button {
  background: red;
  color: white;
  border-radius: 4px;
  width: 65px;
  height: 30px;
  cursor: pointer;
}

@media (max-width: 1315px) {
  .containerInfo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 110px;
    margin-top: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
  }
  .containerInfo p {
    font-size: 17px;
    font-family: Pathway Gothic One, PathwayGothicOneRegular, Arial, Helvetica, sans-serif;
    color: white;
  }
  .containerInfo::before {
    content: "";
    z-index: -50;
    position: absolute;
    top: 0;
    width: 55%;
    left: 30px;
    bottom: 0;
    height: 100%;
    background: #a1a1a1;
    transform: skew(-35.5deg);
    -webkit-transform: skew(-35.5deg);
  }
  .containerInfo::after {
    content: "";
    z-index: -50;
    position: absolute;
    top: 0;
    width: 55%;
    right: 40px;
    bottom: 0;
    height: 100%;
    background: #a1a1a1;
    transform: skew(-35.5deg);
    -webkit-transform: skew(-35.5deg);
  }
}
@media (max-width: 1200px) {
  .containerInfo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 110px;
    margin-top: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
  }
  .containerInfo p {
    font-size: 14px;
    font-family: Pathway Gothic One, PathwayGothicOneRegular, Arial, Helvetica, sans-serif;
    color: white;
  }
  .containerInfo::before {
    content: "";
    z-index: -50;
    position: absolute;
    top: 0;
    width: 55%;
    left: 30px;
    bottom: 0;
    height: 100%;
    background: #a1a1a1;
    transform: skew(-35.5deg);
    -webkit-transform: skew(-35.5deg);
  }
  .containerInfo::after {
    content: "";
    z-index: -50;
    position: absolute;
    top: 0;
    width: 55%;
    right: 40px;
    bottom: 0;
    height: 100%;
    background: #a1a1a1;
    transform: skew(-35.5deg);
    -webkit-transform: skew(-35.5deg);
  }
  .header {
    color: white;
    font-size: 17px;
  }
}
@media (max-width: 1025px) {
  .containerInfo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 110px;
    background: #a1a1a1;
    margin-top: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
  }
  .containerInfo p {
    font-size: 14px;
    font-family: Pathway Gothic One, PathwayGothicOneRegular, Arial, Helvetica, sans-serif;
    color: white;
  }
  .containerInfo::before {
    visibility: hidden;
  }
  .containerInfo::after {
    visibility: hidden;
  }
  .header {
    color: white;
    font-size: 17px;
  }
  .helpContent {
    position: absolute;
    top: -166px;
    right: 100px;
    width: 300px;
    height: 200px;
    background: #303030;
    z-index: 0;
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .helpContent .shyText {
    font-size: 20px;
    color: red;
    font-family: Pathway Gothic One, PathwayGothicOneRegular, Arial, Helvetica, sans-serif;
    font-weight: 100;
  }
  .helpContent p {
    font-size: 15px;
  }
  .helpContent::before {
    content: "";
    z-index: -50;
    position: absolute;
    top: 0;
    width: 38%;
    left: -65px;
    bottom: 0;
    height: 100%;
    background: #303030;
    transform: skew(-25.5deg);
    -webkit-transform: skew(-25.5deg);
  }
  .helpContent::after {
    content: "";
    z-index: -50;
    position: absolute;
    top: 0;
    width: 50%;
    right: -60px;
    bottom: 0;
    height: 100%;
    background: #303030;
    transform: skew(-25.5deg);
    -webkit-transform: skew(-25.5deg);
  }
  .modalContent {
    position: absolute;
    top: -26px;
    left: 200px;
    width: 160px;
    height: 60px;
    background: #303030;
    z-index: 0;
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modalContent .shyText {
    font-size: 20px;
    color: red;
    font-family: Pathway Gothic One, PathwayGothicOneRegular, Arial, Helvetica, sans-serif;
    font-weight: 100;
  }
  .modalContent p {
    font-size: 15px;
  }
  .modalContent::before {
    content: "";
    z-index: -50;
    position: absolute;
    top: 0;
    width: 38%;
    left: -47px;
    bottom: 0;
    height: 100%;
    background: #303030;
    transform: skew(-25.5deg);
    -webkit-transform: skew(-25.5deg);
  }
  .modalContent::after {
    content: "";
    z-index: -50;
    position: absolute;
    top: 0;
    width: 50%;
    right: -40px;
    bottom: 0;
    height: 100%;
    background: #303030;
    transform: skew(-25.5deg);
    -webkit-transform: skew(-25.5deg);
  }
}
@media (max-width: 970px) {
  .helpContent {
    position: absolute;
    top: -176px;
    right: 100px;
    width: 300px;
    height: 200px;
    background: #303030;
    z-index: 0;
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 20;
  }
  .helpContent .shyText {
    font-size: 20px;
    color: red;
    font-family: Pathway Gothic One, PathwayGothicOneRegular, Arial, Helvetica, sans-serif;
    font-weight: 100;
  }
  .helpContent p {
    font-size: 15px;
  }
  .helpContent::before {
    content: "";
    z-index: -50;
    position: absolute;
    top: 0;
    width: 38%;
    left: -65px;
    bottom: 0;
    height: 100%;
    background: #303030;
    transform: skew(-25.5deg);
    -webkit-transform: skew(-25.5deg);
  }
  .helpContent::after {
    content: "";
    z-index: -50;
    position: absolute;
    top: 0;
    width: 50%;
    right: -60px;
    bottom: 0;
    height: 100%;
    background: #303030;
    transform: skew(-25.5deg);
    -webkit-transform: skew(-25.5deg);
  }
  .modalContent {
    position: absolute;
    top: -33px;
    left: 230px;
    width: 160px;
    height: 60px;
    background: #303030;
    z-index: 0;
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 20;
  }
  .modalContent .shyText {
    font-size: 20px;
    color: red;
    font-family: Pathway Gothic One, PathwayGothicOneRegular, Arial, Helvetica, sans-serif;
    font-weight: 100;
  }
  .modalContent p {
    font-size: 15px;
  }
  .modalContent::before {
    content: "";
    z-index: -50;
    position: absolute;
    top: 0;
    width: 38%;
    left: -47px;
    bottom: 0;
    height: 100%;
    background: #303030;
    transform: skew(-25.5deg);
    -webkit-transform: skew(-25.5deg);
  }
  .modalContent::after {
    content: "";
    z-index: -50;
    position: absolute;
    top: 0;
    width: 50%;
    right: -40px;
    bottom: 0;
    height: 100%;
    background: #303030;
    transform: skew(-25.5deg);
    -webkit-transform: skew(-25.5deg);
  }
  .containerTextModal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    z-index: 10;
  }
  .containerTextModal:hover .phone {
    color: #2f2f2f;
  }
  .containerText {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }
  .containerText:hover .oclock {
    color: #2f2f2f;
  }
  .containerText:hover .mail {
    color: #2f2f2f;
  }
  .containerText:hover .skype {
    color: #2f2f2f;
  }
}
@media (max-width: 800px) {
  .helpContent {
    display: none;
  }
  .modalContent {
    display: none;
  }
  .containerInfo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    background: #a1a1a1;
    margin-top: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 3;
  }
  .containerInfo p {
    font-size: 13px;
    font-family: Pathway Gothic One, PathwayGothicOneRegular, Arial, Helvetica, sans-serif;
    color: white;
  }
  .containerInfo::before {
    display: none;
  }
  .containerInfo::after {
    display: none;
  }
  .contentTextInfo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
    padding-bottom: 20px;
  }
  .contentTextInfo h5 {
    padding-top: 20px;
  }
}