@import '../../../../scssMixinsAndVariables/mixins.scss';
@import '../../../../scssMixinsAndVariables/variables.scss';

.header {
  color: #fff;
  font-size: 25px;
  font-family: $openSansFont;
}

.containerInfo {
  @include blockSettings(flex, row, center);
  align-items: center;
  position: relative;
  width: 100%;
  height: 110px;
  margin-top: 50px;
  gap: 2rem;
  z-index: 3;

  p {
    font-size: 18px;
    font-family: $gothicFont;
    color: #fff;
  }

  &::before {
    content: '';
    z-index: -50;
    position: absolute;
    top: 0;
    width: 55%;
    left: -40px;
    bottom: 0;
    height: 100%;
    background: #a1a1a1;
    transform: skew(-35.5deg);
    -webkit-transform: skew(-35.5deg);
  }
  &::after {
    content: '';
    z-index: -50;
    position: absolute;
    top: 0;
    width: 55%;
    right: -40px;
    bottom: 0;
    height: 100%;
    background: #a1a1a1;
    transform: skew(-35.5deg);
    -webkit-transform: skew(-35.5deg);
  }
}

.contentTextInfo {
  @include blockSettings(flex, row, center);
  position: relative;
  width: 100%;
  height: 40px;
  gap: 2rem;
  align-items: center;
  z-index: 10;
}

.containerText {
  position: relative;
  @include blockSettings(flex, row, center);
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.containerTextModal {
  position: relative;
  @include blockSettings(flex, row, center);
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.modalContent {
  position: absolute;
  top: -23px;
  left: 280px;
  width: 160px;
  height: 60px;
  background: #303030;
  z-index: 99999;
  padding-left: 10px;
  @include blockSettings(flex, column, center);
  .shyText {
    font-size: 20px;
    color: #b90000;
    font-family: $gothicFont;
    font-weight: 100;
  }

  p {
    font-size: 15px;
  }

  &::before {
    content: '';
    z-index: -50;
    position: absolute;
    top: 0;
    width: 38%;
    left: -50px;
    bottom: 0;
    height: 100%;
    background: #303030;
    transform: skew(-25.5deg);
    -webkit-transform: skew(-25.5deg);
  }

  &::after {
    content: '';
    z-index: -50;
    position: absolute;
    top: 0;
    width: 50%;
    right: -40px;
    bottom: 0;
    height: 100%;
    background: #303030;
    transform: skew(-25.5deg);
    -webkit-transform: skew(-25.5deg);
  }
}

.helpContent {
  position: absolute;
  top: -160px;
  right: 100px;
  width: 300px;
  height: 200px;
  background: #303030;
  z-index: 9999;
  padding-left: 10px;
  @include blockSettings(flex, column, center);

  p {
    font-size: 15px;
  }

  &::before {
    content: '';
    z-index: -50;
    position: absolute;
    top: 0;
    width: 38%;
    left: -72px;
    bottom: 0;
    height: 100%;
    background: #303030;
    transform: skew(-25.5deg);
    -webkit-transform: skew(-25.5deg);
  }

  &::after {
    content: '';
    z-index: -50;
    position: absolute;
    top: 0;
    width: 50%;
    right: -60px;
    bottom: 0;
    height: 100%;
    background: #303030;
    transform: skew(-25.5deg);
    -webkit-transform: skew(-25.5deg);
  }
}

.formContainer {
  @include blockSettings(flex, column, center);

  height: 100%;
  align-items: center;
  gap: 1rem;

  textarea {
    width: 240px;
    height: 100px;
    padding: 5px 5px 5px 5px;
    outline: none;
  }
}

.inputContainer {
  @include blockSettings(flex, row, center);
  width: 100%;
  gap: 0.2rem;
  input {
    width: 120px;
    height: 24px;
    padding: 5px 5px 5px 5px;
    outline: none;
  }
}

.btnContainer {
  width: 100%;
  @include blockSettings(flex, row, flex-end);
  padding: 0px 25px 0px 20px;

  button {
    background: #b90000;
    color: #fff;
    border-radius: 4px;
    width: 65px;
    height: 30px;
    cursor: pointer;
  }
}

@media (max-width: 1315px) {
  .containerInfo {
    p {
      font-size: 17px;
    }

    &::before {
      left: 30px;
    }
    &::after {
      right: 40px;
    }
  }
}
@media (max-width: 1200px) {
  .containerInfo {
    gap: 1rem;

    p {
      font-size: 14px;
    }

    &::before {
      left: 30px;
    }
  }

  .header {
    font-size: 17px;
  }
}

@media (max-width: 1025px) {
  .containerInfo {
    background: #a1a1a1;

    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }

  .helpContent {
    &::before {
      left: -65px;
    }
  }

  .modalContent {
    left: 200px;

    &::before {
      left: -47px;
    }
  }
}
@media (max-width: 970px) {
  .helpContent {
    top: -176px;
    z-index: 20;
  }

  .modalContent {
    top: -33px;
    left: 230px;
    z-index: 20;
  }

  .containerTextModal {
    flex-direction: column;
  }

  .containerText {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .helpContent {
    display: none;
  }

  .modalContent {
    display: none;
  }

  .containerInfo {
    flex-direction: column;
    height: 100%;
    gap: 0;

    p {
      font-size: 13px;
    }
  }

  .contentTextInfo {
    flex-direction: column;
    height: 100%;
    gap: 0.5rem;
    padding-bottom: 20px;
    h5 {
      padding-top: 20px;
    }
  }
}
