@import '../../../../../scssMixinsAndVariables/mixins.scss';

.navBtns {
  width: 45px;
  height: 17px;
  position: absolute;
  top: -60px;
  right: 10px;
  @include blockSettings(flex, row, space-between);
  z-index: 9999;
  div {
    cursor: pointer;
  }
}

@media (max-width: 300px) {
  .navBtns {
    top: -30px;
  }
}
