.mainCOntainerOfUserPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #fff;
  height: 500px;
  padding: 20px;
  margin-top: 20px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  p {
    width: 230px;
    cursor: pointer;
  }
}

.userAvatarContainer {
  border: 2px solid #8b0000;
  border-radius: 20px;
  overflow: hidden;
  width: 230px;
  height: 200px;

  box-shadow: 10px 10px 10px rgb(97, 97, 97);
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

//card

.cardOfCarsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  padding-bottom: 20px;
  cursor: pointer;

  .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 180px;
    padding-top: 20px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.cardTextAndButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 45px;

  p {
    width: 60%;
    font-size: 12px;
  }
}

.removeFromFavorites {
  display: flex;
  align-items: center;
  flex-direction: row;

  width: 85px;
  justify-content: flex-start;

  &:hover {
    .removeButton {
      color: #8b0000;
    }
  }
  .removeButton {
    color: rgb(84, 84, 84);
    transition: 0.2s ease-in-out;
  }

  p {
    font-size: 16px;
  }
}

//swiper
.mainContainerSwiper {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.nameOfSwiper {
  position: relative;
  padding: 10px 0px 0px 20px;

  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgb(185, 185, 185)
  );
  width: 180px;
  height: 45px;
  font-family: Pathway Gothic One, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 30px;

  &::after {
    content: url(../../../pictures/headerUserCorner.png);
    position: absolute;

    right: -24px;
    top: 0;
    bottom: 0;
  }
}

.favoriteCarsSwiper {
  position: relative;
  width: 100%;
  height: 260px;
  background: rgb(185, 185, 185);
  overflow-y: visible;
  padding: 0px 20px 0px 20px;
}

.swiperSlideContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

//CardNavBtns
.navBtns {
  width: 45px;
  height: 17px;
  position: absolute;
  top: -30px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 9999;
  div {
    cursor: pointer;
  }
}

//user

.navMenuOfUserPage {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  font-size: 12px;
  p {
    color: red;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
}

//editprofile

.containerEditProfile {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;

  h4 {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: normal;
    font-family: Pathway Gothic One, Arial, Helvetica, sans-serif;
  }
}

.forRadioAndCheckboxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.2rem;
  label {
    padding-right: 7px;
  }
}

.formEditContent {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  label {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  input {
    width: 180px;
    height: 28px;
    border: 1px solid #a3a3a3;
    padding: 5px;
    outline: none;
  }
}

.stylesForSubmitBtn {
  width: 60px;
  height: 28px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(to bottom, #d80505 0%, #a10202 100%);

  &:hover {
    background: linear-gradient(to bottom, #a10202 0%, #d80505 100%);
  }
}
