@import '../../scssMixinsAndVariables/variables.scss';
@import '../../scssMixinsAndVariables/mixins.scss';

.mainHeaderBg {
  background: url(../../pictures/header.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 135px;
  @include blockSettings(flex, row, space-between);
}

.headerOverflow {
  background: url(../../pictures/header-container-bg.png), left, top, repeat;
}

.headerRegisterOverflow {
  background: $blackBg;
  height: 30px;
}

.registration {
  @include blockSettings2(flex, flex-end, center);

  height: 30px;
  p {
    padding: 5px 0px 5px 0px;
    color: white;
    font-size: 0.75rem;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.headerLogoContainer {
  padding: 10px 0px 10px 0px;
  width: 300px;
  height: 128px;
  cursor: pointer;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.infoAndSearchContainer {
  max-width: 100%;
  height: 100%;
}

.facebookContainer {
  padding: 10px 0px 0px 0px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;

  span {
    font-weight: bold;
    padding: 5px 3px 5px 3px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-transform: none;
  }
  Button {
    font-size: 11px;
    height: 19px;
    padding: 0;
    min-width: 110px;
  }

  .shareFacebook {
    min-width: 50px;
  }

  .textInSpanFacebook {
    font-weight: normal;
  }
}

.contactContainer {
  padding-top: 10px;

  @include blockSettings3(flex, column, flex-end);

  gap: 0.3rem;
  color: white;
  .phone {
    background: url(../../pictures/phone_icon.png);
    padding-left: 15px;
    @include emailPhone;
  }
  .email {
    background: url(../../pictures/mail_icon.png);
    padding-left: 22px;
    @include emailPhone;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.formAndBtnContainer {
  margin-top: 10px;
  @include blockSettings3(flex, row, center);
  height: 20px;
  z-index: 20;
}

.containerSearch {
  @include blockSettings3(flex, row, center);
  height: 27px;
  background: #0f0d0d;
  border: solid 1px #989797;

  input {
    background: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-style: italic;
    margin-top: 4px;
    font-size: 13px;
  }

  &:after {
    content: '';
    display: block;
    height: 27px;
    width: 20px;

    background: linear-gradient(to left, #0f0d0d 50%, transparent 50%);
    border-top: solid 1px #989797;
    border-bottom: solid 1px #989797;
    border-right: solid 1px #989797;
    transform: skewX(-20deg);
    position: relative;
    top: 0;
    left: 6px;

    z-index: 100;
  }
}

.formController {
  padding-top: 2px;
  position: relative;
}

.submitBtn {
  @include blockSettings2(flex, center, center);
  margin-left: 20px;
  width: 30px;
  height: 27px;
  background: white;
  border: 2px solid red;
  border-radius: 5px;
  color: black;
  cursor: pointer;

  &:hover {
    color: red;
    border: 2px solid white;
  }
}

.afterContainer {
  height: 27px;
  &:after {
    content: '';
    display: block;
    height: 27px;
    width: 20px;

    background: linear-gradient(to right, white 65%, transparent 50%);

    transform: skewX(-20deg);
    position: relative;
    top: -27px;
    left: 16px;

    z-index: 100;
  }
}

.searchIco {
  z-index: 200;
}

.underHeader {
  width: 100%;
  height: 20px;
  background: url(../../pictures/under.png);
  background-repeat: no-repeat;
  background-position: center;
}

.appBar {
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  position: relative;
  background: none;
}

.toolbarContainer {
  @include blockSettings2(flex, center, center);

  flex-direction: row;
  width: 100%;
  min-height: 40px;
  padding: 0;
  z-index: 3;
}
.lists {
  @include blockSettings2(flex, space-between, center);
  flex-direction: row;
  padding: 0;
  cursor: pointer;
  font-family: $gothicFont;
}
.listItem {
  @include blockSettings2(flex, center, center);
  height: 40px;
  transition: 0.2s ease-in-out;
  background: $blackBg;

  &:first-child {
    background: red;
  }

  &:hover {
    background: red;
  }
}

.absoluteInventory {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 190px;
  top: 40px;
  background: $blackBg;
  z-index: 2;
}

.sectionInventory {
  width: 100%;
  @include blockSettings2(flex, center, center);
  flex-direction: column;
  transition: 0.4s ease-in-out;

  cursor: pointer;
  img {
    margin-top: 30px;
    filter: blur(3px);
  }
  &:hover {
    img {
      filter: blur(0px);
    }
    background: rgb(69, 69, 69);
  }
}

.borderSection {
  border-right: 1px solid grey;
  border-left: 1px solid grey;
}

.textInSection {
  font-family: $gothicFont;
  font-size: 18px;
  padding-top: 10px;
  cursor: pointer;
}

.openMenu {
  background: red;
}

.companyProfile {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 50px;
  top: 40px;
  background: $blackBg;

  z-index: 2;
}

.companySection {
  width: 100%;
  @include blockSettings2(flex, center, center);
  transition: 0.4s ease-in-out;

  cursor: pointer;

  &:hover {
    background: rgb(69, 69, 69);
  }
}

.borderCompanySectionOne {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.borderCompanySectionTwo {
  border-right: 1px solid grey;
}

.textInCompany {
  font-family: $gothicFont;
  font-size: 18px;

  cursor: pointer;
}
.mediaProfile {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 40px;
  background: $blackBg;
  display: flex;
  flex-direction: row;

  z-index: 2;
}

.mediaSection {
  width: 100%;
  @include blockSettings2(flex, center, center);
  transition: 0.4s ease-in-out;

  cursor: pointer;

  &:hover {
    background: rgb(69, 69, 69);
  }
}

.borderMediaSectionOne {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}
.borderMediaSectionTwo {
  border-right: 1px solid grey;
}

.textInMedia {
  font-family: $gothicFont;
  font-size: 18px;

  cursor: pointer;
}

.hoverForHelpSearchMenu {
  border-bottom: 1px solid #000;
  cursor: pointer;
  &:hover {
    color: red;
  }
}

@media (max-width: 1315px) {
  .appBar {
    box-shadow: none;
  }

  .lists {
    justify-content: center;
    flex-wrap: wrap;
  }

  .absoluteInventory {
    z-index: 20;
  }

  .sectionInventory {
    img {
      width: 100%;
    }
  }

  .textInSection {
    padding-bottom: 30px;
  }

  .companyProfile {
    z-index: 20;
  }

  .mediaProfile {
    z-index: 20;
  }
}

@media (max-width: 1017px) {
  .mediaProfile {
    top: 80px;
  }
}

@media (max-width: 655px) {
  .appBar {
    position: absolute;
    top: 115px;
    left: 0;
    width: 22px;
    height: 50px;
    padding-left: 60px;
    z-index: 0;
  }

  .headerLogoContainer {
    width: 110px;
    height: 57px;
  }

  .burgerBtn {
    color: white;
    font-size: 30px;
    padding: 0 0 0 0;
  }

  .swipeBar {
    position: relative;
    background: #989797;
    width: 100%;
  }

  .closeBurgerIcon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
  }

  .listInBurgerMenu {
    display: flex;
    flex-direction: column;
    font-family: $gothicFont;
    color: white;
    p {
      font-size: 23px;
    }
  }
  .headerInBurger {
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
    font-family: $gothicFont;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    height: 50px;
    background: url(../../pictures/header-container-bg.png);
    border-bottom: 2px solid #d9d9d9;
  }

  .listIntemInBurgerMenu {
    width: 100%;
    border-bottom: 1px solid #000;
    cursor: pointer;
  }

  .listIntemInBurgerMenuVehicleInventory {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid #000;
    cursor: pointer;
  }

  .activeBurgerVehicle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: $blackBg;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    box-shadow: inset 0px 10px 20px 2px rgba(255, 0, 0, 0.25);
  }
  .dropVehicleInventory {
    display: flex;
    flex-direction: column;
    background: $blackBg;
  }

  .notOpenVehicleInventory {
    visibility: hidden;
  }

  .jdmSectionInBurger {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;

    gap: 1rem;
    img {
      width: 100%;
      height: auto;
    }
  }

  .formAndBtnContainer {
    z-index: 500;
  }

  .containerSearch {
    width: 210px;

    input {
      font-size: 10px;
    }

    &:after {
      display: none;
    }
  }
}

@media (max-width: 390px) {
  .mainHeaderBg {
    justify-content: flex-end;
  }

  .headerLogoContainer {
    display: none;
  }

  .appBar {
    top: 30px;
    left: -30px;
  }
}

@media (max-width: 250px) {
  .appBar {
    top: 25px;
    left: -50px;
  }

  .facebookContainer {
    Button {
      font-size: 8px;
      min-width: 80px;
    }

    .shareFacebook {
      min-width: 30px;
      font-size: 8px;
    }
  }
}

@media (max-width: 260px) {
  .jdmSectionInBurger {
    width: 40%;
    p {
      font-size: 17px;
    }
  }
}
