@import '../../../../scssMixinsAndVariables/mixins.scss';
@import '../../../../scssMixinsAndVariables/variables.scss';

.mainCardContainer {
  position: relative;
  @include blockSettings(flex, column, center);

  background: #000;
  margin-bottom: 10px;

  &::before {
    content: url(../../../../pictures/shadowForSectionLeft.png);
    position: absolute;
    left: 0;
    bottom: -16px;
  }

  &::after {
    content: url(../../../../pictures/shadowForSectionRight.png);
    position: absolute;
    right: 0;
    bottom: -16px;
  }
}

.imgContainer {
  position: relative;
  cursor: pointer;

  img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}

.imgAvailableSoldContainer {
  position: absolute;
  right: -8px;
  top: -7px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.textContainer {
  @include blockSettings(flex, row, space-between);
  background: #000;
  height: 50px;

  p {
    font-family: $gothicFont;
    color: #fff;
    font-size: 15px;
    padding: 8px 0px 0px 8px;
    cursor: pointer;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 15px 0px 0px;
  button {
    font-family: $gothicFont;
    color: #fff;
    font-size: 15px;
    padding: 2px 13px 5px;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to bottom, #d80505 0%, #a10202 100%);
    &:hover {
      background: linear-gradient(to bottom, #a10202 0%, #d80505 100%);
    }
  }
}

@media (max-width: 920px) {
  .textContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;

    p {
      padding: 10px 0px 0px 0px;
    }
  }

  .btnContainer {
    padding: 10px 0px 10px 0px;
  }
}

@media (max-width: 730px) {
  .imgAvailableSoldContainer {
    right: -6px;
    top: -5px;
    width: 110;
    height: 110px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .textContainer {
    p {
      font-size: 13px;
    }
  }
}
