@import './variables.scss';

@mixin blockSettings($display, $flexDirection, $justifyContent) {
  display: $display;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
}

@mixin blockSettings2($display, $justifyContent, $alignItems) {
  display: $display;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

@mixin blockSettings3($display, $flexDirection, $alignItems) {
  display: $display;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}

@mixin emailPhone {
  display: flex;
  gap: 4px;
  background-position: center left;
  background-repeat: no-repeat;
  font-family: $gothicFont;
  font-size: 20px;
}

@mixin mediaFooterContainer {
  position: absolute;
  background: #303030;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  height: 34px;
  width: 34px;
  z-index: 30;
  &:hover {
    background: #b90000;
  }
}
