@import '../../scssMixinsAndVariables/mixins.scss';

.navigationBoxContainer {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  .navTextLink {
    color: red;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
  p {
    font-size: 12px;
  }
}

.wrapperInfoContainer {
  background: white;
  padding: 20px;
  margin-top: 10px;
}

.infoContainer {
  @include blockSettings2(flex, center, center);

  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}

.coverImg {
  object-fit: cover;
  width: 100%;
  cursor: pointer;
}
