@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-image: url(./pictures/main-bg.png);
}

a {
  text-decoration: none;
  color: white;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0px 10px 0px 10px;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  visibility: hidden;
}
.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  visibility: hidden;
}

input[name='searchInput']::placeholder {
  color: white;
  font-style: italic;
}

.selectionOpt {
  border: none;
  border-radius: 0px;
  font-size: 10px;
  color: #777;
  height: 20px;
  border: none;
  outline: none;
  box-shadow: none;
}
.selectionOpt:hover {
  color: white;
  border: none;
  outline: none;
  box-shadow: none;
}

/*text in navbar*/
.css-1p823my-MuiListItem-root {
  padding-right: 23.6px;
  padding-left: 23.6px;
  text-align: center;
  font-size: 19px;
  white-space: nowrap;
}

.css-1p823my-MuiListItem-root {
  width: auto;
}

.modal-enter {
  transform: translateY(20%);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.modal-exit-active {
  transform: translateY(20%);
  opacity: 0;
}

.help-enter {
  transform: translateY(20%);
  opacity: 0;
}

.help-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.help-exit {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.help-exit-active {
  transform: translateY(20%);
  opacity: 0;
}

.absoluteInventory-enter {
  transform: translateY(-10%);
  opacity: 0;
}

.absoluteInventory-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.absoluteInventory-exit {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.absoluteInventory-exit-active {
  transform: translateY(-20%);
  opacity: 0;
}
.companyProfile-enter {
  transform: translateY(-10%);
  opacity: 0;
}

.companyProfile-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.companyProfile-exit {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.companyProfile-exit-active {
  transform: translateY(-20%);
  opacity: 0;
}

.fadeBackToTopBtn-enter {
  transform: translateY(-10%);
  opacity: 0;
}

.fadeBackToTopBtn-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.fadeBackToTopBtn-exit {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.fadeBackToTopBtn-exit-active {
  transform: translateY(-20%);
  opacity: 0;
}

.infoMail-enter {
  transform: translateX(20%);
  opacity: 0;
}

.infoMail-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.infoMail-exit {
  transform: translateX(-100%);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.infoMail-exit-active {
  transform: translateX(0);
  opacity: 0;
}

.dropdown-enter {
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms ease-in;
}

.dropdown-enter-active {
  max-height: 500px; /* Установите максимальную высоту ваших элементов */
}

.dropdown-exit {
  max-height: 500px; /* Установите максимальную высоту ваших элементов */
  overflow: hidden;
  transition: max-height 400ms ease-out;
}

.dropdown-exit-active {
  max-height: 0;
}
