*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./pictures/main-bg.png);
}

ul,
li {
  list-style: none;
}

.my-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 24px;
}

a {
  text-decoration: none;
  color: #fff;
}
.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input[name='searchInput']::placeholder {
  color: #fff;
  font-style: italic;
}

/* modal */
.modal-enter {
  transform: translateY(20%);
  opacity: 0;
}

.modal-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.modal-exit {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.modal-exit-active {
  transform: translateY(20%);
  opacity: 0;
}
/* help */
.help-enter {
  transform: translateY(10%);
  opacity: 0;
}

.help-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.help-exit {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.help-exit-active {
  transform: translateY(10%);
  opacity: 0;
}

/* absoluteInventory */
.absoluteInventory-enter {
  transform: translateY(-1%);
  opacity: 0;
}

.absoluteInventory-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.absoluteInventory-exit {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.absoluteInventory-exit-active {
  transform: translateY(-2%);
  opacity: 0;
}
/* companyProfile */
.companyProfile-enter {
  transform: translateY(-1%);
  opacity: 0;
}

.companyProfile-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.companyProfile-exit {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.companyProfile-exit-active {
  transform: translateY(-2%);
  opacity: 0;
}
/* fadeBackToTopBtn */
.fadeBackToTopBtn-enter {
  transform: translateY(-10%);
  opacity: 0;
}

.fadeBackToTopBtn-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.fadeBackToTopBtn-exit {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.fadeBackToTopBtn-exit-active {
  transform: translateY(-20%);
  opacity: 0;
}
/* infoMail */
.infoMail-enter {
  transform: translateX(20%);
  opacity: 0;
}

.infoMail-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.infoMail-exit {
  transform: translateX(-100%);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.infoMail-exit-active {
  transform: translateX(0);
  opacity: 0;
}
/* dropdown */
.dropdown-enter {
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms ease-in;
}

.dropdown-enter-active {
  max-height: 500px;
}

.dropdown-exit {
  max-height: 500px;
  overflow: hidden;
  transition: max-height 400ms ease-out;
}

.dropdown-exit-active {
  max-height: 0;
}
/* search helper */
.helper-enter {
  transform: translateY(0%);
  opacity: 0;
}

.helper-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.helper-exit {
  transform: translateY(0);
  opacity: 1;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.helper-exit-active {
  transform: translateY(-1%);
  opacity: 0;
}

/* sweet-alert */

.swal-modal {
  background: url(./pictures/header-container-bg.png);
  border: 3px solid #767676;
}

.swal-title {
  font-size: 30px;
  font-family: 'Pathway Gothic One', sans-serif;
  box-shadow: 0px 2px 2px rgb(255, 255, 255);
  color: #fff;

  &:first-child {
    margin-top: 0px;
  }
  &:not(last-child) {
    margin-bottom: 0px;
  }
}

.swal-text {
  background-color: #fefae3;
  padding: 17px;
  border: 1px solid #f0e1a1;
  display: block;
  margin: 22px;
  text-align: center;
  color: #000;
}

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background: linear-gradient(to bottom, #d80505 0%, #a10202 100%);
  border-radius: 5px;
  font-size: 12px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.swal-button:not([disabled]):hover {
  background: linear-gradient(to bottom, #a10202 0%, #d80505 100%);
}

/* Delete default counter in Mozilla FireFox */
input[type='number'] {
  -moz-appearance: textfield;
}

/*fonts*/

@font-face {
  font-family: 'Pathway Gothic One';
  src: url('/src/assets/fonts/Pathway_Gothic_One/PathwayGothicOne-Regular.woff2')
    format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  src: url('/src/assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.woff2')
    format('woff2');
}
