@import '../../../../scssMixinsAndVariables/mixins.scss';
@import '../../../../scssMixinsAndVariables/variables.scss';

.panelContainer {
  position: relative;
  width: 33%;
  height: 533px;
  padding: 20px 20px 20px 20px;
  background: url(../../../../pictures/infoPanel.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  overflow: visible;
  &::before {
    content: url(../../../../pictures/box-shadow-left.png);
    position: absolute;
    bottom: -21px;
    left: 0;
  }
  &::after {
    content: url(../../../../pictures/box-shadow-right.png);
    position: absolute;
    bottom: -21px;
    right: 0;
  }
}

.shadowBg {
  padding: 10px 15px 10px 15px;
  height: 380px;
  background: #00000085;
  @include blockSettings3(flex, column, center);
  gap: 1rem;

  color: white;
  border-radius: 5px;

  h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: $gothicFont;
  }

  p {
    font-size: 14px;
    font-weight: bold;
    text-align: justify;
  }
  button {
    background: none;
    color: #b90000;
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: rgb(93, 165, 216);
    }
  }
}

.imgContainerUsa {
  width: 270px;
  height: 30px;
  cursor: pointer;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1050px) {
  .panelContainer {
    width: 350px;
  }
}

@media (max-width: 350px) {
  .panelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 433px;
  }

  .shadowBg {
    width: 180px;

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 10px;
    }

    button {
      font-size: 12px;
    }
  }

  .imgContainerUsa {
    width: 180px;
    height: 20px;
  }
}
